body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

ul {
    position: relative;
    margin: auto;
    width: 14px;
    height: 14px;
}

li {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
    animation: move 3s infinite ease-in-out;
    transform: translate(
        calc(sin(var(--angle)) * 60px),
        calc(cos(var(--angle)) * 60px)
    );
}

@for $i from 1 to 11 {
    li:nth-child(#{$i}) {
        z-index: #{$i};
        animation-delay: #{ $i * -0.15 }s;
        background: #{hsl(100 + $i * 15, 80%, 60%)};
    }
}

@keyframes move {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}
